body {
    display: grid;
    grid-template: minmax(102px, max-content) 1fr minmax(417px, max-content) / 100%;
    /* Сделала большой грид страницы для хедера, мейн и футера. Хедер и футер так должны в высоту растягиваться по содержимому, что не нужно этот грид в медиазапросах менять, возможно только отступы регулировать.
    Если есть предложения, как сделать лучше - пишите! (Юля) */
    font-family: 'Roboto', 'Source Sans Pro', sans-serif;

    max-width: 100%;
    /* Обозначила ширину, так как был скролл по оси у (Настя) */
}


/* DESKTOP - МОНИТОР КОМПЬЮТЕРА */
@media screen and (min-width: 940px) {

    /* HEADER */

    .header {
        display: grid;
        grid-template-columns: 9.4vw [header-logo-start] minmax(300px, 400px) [header-menu-start] 1fr;
        align-items: center;
    }

    .header__logo {
        grid-column-start: header-logo-start;
    }

    .header__menu {
        grid-column-start: header-menu-start;
        display: flex;
        justify-content: space-between;
        max-width: 645px;
        min-width: max-content;
    }

    /* MAIN */

    .main {
        display: grid;
        grid-template-columns: 9.4vw [main-content-start] 1fr [main-content-end] 9.4vw;
        /* так секции встанут с одинаковыми отступами с двух сторон и все будут выстраиваться по одной линии, когда меняем ширину экрана. Надо только каждой секции задать grid-column-start: main-content-start; (Юля) */
        grid-template-rows: repeat(5, max-content);
        row-gap: 120px;
    }

    /*ABOUT*/
    .about {
        display: grid;
        grid-template-columns: 9.4vw [main-content-start] 1fr [main-content-end] 9.4vw;
    }

    .about-section {
        grid-column-start: main-content-start;
    }

    .about-section {
        display: grid;
        grid-template-columns: 60% 40%;
        column-gap: 30px;
        outline: 1px solid red;
    }

    .about-section__images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 60% 40%;
        grid-template-areas: "about-img1 about-img2"
            "about-img3 about-img2";

    }

    .about-img1 {
        grid-area: about-img1;
    }

    .about-img3 {
        grid-area: about-img3;
    }

    .about-img2 {
        grid-area: about-img2;
    }


    /* MISSION */

    .mission {
        display: grid;
        grid-template-columns: 9.4vw [main-content-start] 1fr [main-content-end] 9.4vw;
    }

    /* Отступы, чтобы весь контент mission выравнивался в соответствии с основными боковыми отступами сайта (Настя) */
    .mission-title,
    .mission-cards {
        grid-column-start: main-content-start;
    }

    .mission-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10%;
    }

    .title-text {
        font-size: 56px;
    }

    .mission-cards__card {
        display: grid;
        grid-template-columns: 30% 70%;
    }

    .card-value__number {
        font-size: 160px;
    }

    .card-text {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
    }

    /* PROJECTS */

    .projects {
        display: grid;
        grid-template-columns: 9.4vw [main-content-start] 1fr [main-content-end] 9.4vw;
    }

    .projects-title {
        grid-column-start: main-content-start;
    }
}

/* TABLET - ПЛАНШЕТ */
@media screen and (min-width: 420px) and (max-width: 939px) {

    /* MISSION */

    .mission {
        display: grid;
        grid-template-columns: 9.4vw [main-content-start] 1fr [main-content-end] 9.4vw;
    }

    /* Отступы, чтобы весь контент mission выравнивался в соответствии с основными боковыми отступами сайта (Настя) */
    .mission-title,
    .mission-cards {
        grid-column-start: main-content-start;
    }

    .mission-cards {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }

    .title-text {
        font-size: 56px;
    }

    .mission-cards__card {
        display: grid;
        grid-template-columns: 30% 70%;
    }

    .card-value__number {
        font-size: 160px;
    }

    .card-text {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
    }
}

/* SMARTPHONE - СМАРТФОН */
@media screen and (max-width: 419px) {

    /* MISSION */

    .mission {
        display: grid;
        grid-template-columns: 9.4vw [main-content-start] 1fr [main-content-end] 9.4vw;
    }

    /* Отступы, чтобы весь контент mission выравнивался в соответствии с основными боковыми отступами сайта (Настя) */
    .mission-title,
    .mission-cards {
        grid-column-start: main-content-start;
    }

    .mission-cards {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }

    .title-text {
        font-size: 3em;
    }

    .card-value__number {
        display: none;
    }

    .card-text {
        font-size: 1em;
        font-weight: 400;
        line-height: 1.5em;
    }
}

/* HEADER */
.header__link {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #333333;
    border: 1px solid #FFFFFF;
    /* Добавила здесь border чтобы ссылки не прыгали при наведении курсора. Потому что при наведении появляется оформление border снизу и сверху (Юля) */
}

.header__link:hover,
.header__link:active {
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
}

/* MISSION */

.title-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    color: #BDBDBD;
}

.title-text:hover {
    cursor: pointer;
}

.card-value,
.card-text__container {
    align-self: center;
}

.card-value p {
    margin: 0;
}

.card-value__number {
    color: #F2F2F2;
    font-weight: 900;
}

/* PROJECTS */

/* GENERAL */
a {
    text-decoration: none;
}