body {
    /* display: grid;
    grid-template: minmax(102px, max-content) 1fr minmax(417px, max-content) / 100%; */
    /* Сделала большой грид страницы для хедера, мейн и футера. Хедер и футер так должны в высоту растягиваться по содержимому, что не нужно этот грид в медиазапросах менять, возможно только отступы регулировать.
    Если есть предложения, как сделать лучше - пишите! (Юля) */
    font-family: 'Roboto', 'Source Sans Pro', sans-serif;
    max-width: 100%;
    /* Обозначила ширину, так как был скролл по оси у (Настя) */
}


/* DESKTOP - МОНИТОР КОМПЬЮТЕРА */
@media screen and (min-width: 940px) {

    /* HEADER */

    .header {
        display: grid;
        grid-template-columns: 9.4vw [header-logo-start] minmax(300px, 28%) [header-menu-start] 1fr;
        align-items: center;
        min-height: 102px;
    }

    .header__logo {
        grid-column-start: header-logo-start;
        height: 100%;
        background-image: url(../images/header-logo.svg);
        background-repeat: no-repeat;
        background-position: left center;
    }

    .header__menu {
        grid-column-start: header-menu-start;
        display: flex;
        justify-content: space-between;
        max-width: 645px;
        min-width: max-content;
    }

    .header__menu--narrow {
        display: none;
    }

    .header__link {
        border: 1px solid #FFFFFF;
        /* Добавила здесь border чтобы ссылки не прыгали при наведении курсора. Потому что при наведении появляется оформление border снизу и сверху (Юля) */
    }

    /* MAIN */

    .main {
        display: grid;
        grid-template-columns: 9.4vw [main-content-start] 1fr [main-content-end] 9.4vw;
        /* так секции встанут с одинаковыми отступами с двух сторон и все будут выстраиваться по одной линии, когда меняем ширину экрана. Надо только каждой секции задать grid-column-start: main-content-start; (Юля) */
        grid-template-rows: repeat(5, max-content);
        row-gap: 120px;
    }

    /*INTRO*/

    .intro {
        display: grid;
        grid-template-columns: 9.4vw [intro-content-start] minmax(300px, 28%) [intro-image-start] 9.4vw;
        min-height: 900px;
    }

    .intro__content {
        grid-column-start: intro-content-start;
    }

    .intro__projectlorum {
        display: grid;
        padding-top: 33vh;
        padding-bottom: 5vh;
    }

    .intro-button1 {
        display: inline-block;
        width: 52.95px;
        height: 53px;
        cursor: pointer;
        background-color: #FFFFFF;
        border: 1px solid #F2F2F2;
    }

    .intro-button1:active {
        background-color: #C4C4C4;
    }

    .intro-button2 {
        display: inline-block;
        width: 52.95px;
        height: 53px;
        cursor: pointer;
        margin-left: 1.5vw;
        background-color: #f9f9f9;
        border: 1px solid #F2F2F2;
    }

    .intro-button2:active {
        background-color: #C4C4C4;
    }

    .intro__slidenumbers {
        display: grid;
        padding-top: 10vh;
    }

    .intro__image {
        grid-column-start: intro-image-start;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "intro-img1";
    }

    .intro-img1 {
        grid-column-start: intro-image-start;
        display: grid;
    }

    .intro-button3 {
        position: absolute;
        top: 860px;
        width: 221.81px;
        height: 71px;
        cursor: pointer;
        font-size: small;
        letter-spacing: 3px;
        text-align: center;
        color: #333333;
        background-color: #FFFFFF;
        border: none;
    }

    .intro-button3:hover {
        background-color: #F2F2F2;
    }

    .intro-text {
        font-weight: bold;
        color: #333333;
    }

    /*ABOUT*/
    .about {
        display: grid;
        grid-template-columns: 9.4vw [main-content-start] 1fr [main-content-end] 9.4vw;
    }

    .about__content {
        grid-column-start: main-content-start;
        display: grid;
        grid-template-columns: 55% 1fr;
        gap: 3vw;
    }

    .about__images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "about__images-group1 about__images-group2";
        gap: 3vw;
        align-items: center;
    }

    .about__images-group1 {
        grid-area: about__images-group1;
        display: grid;
        grid-template-rows: auto;
        gap: 3vw;
    }

    .about__images-group2 {
        grid-area: about__images-group2;
        display: flex;
    }

    .about__card {
        width: 90%;
    }

    .about___img1 {
        width: 20vw;
        height: 18vw;
    }

    .about__img3 {
        width: 20vw;
        height: 10vw;
    }

    .about__img2 {
        width: 20vw;
        height: 25vw;
    }

    .about__link-btn {
        padding: 1.3vw 3vw;
    }


    /* MISSION */

    .mission {
        display: grid;
        grid-template-columns: 9.4vw [main-content-start] 1fr [main-content-end] 9.4vw;
    }

    /* Отступы, чтобы весь контент mission выравнивался в соответствии с основными боковыми отступами сайта (Настя) */
    .mission__title,
    .mission__cards {
        grid-column-start: main-content-start;
    }

    .mission__title {
        display: flex;
        font-size: 4em;
        line-height: 64px;
    }

    .mission__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10%;
    }

    .title-text {
        font-size: 58px;
    }

    .mission__card {
        display: grid;
        grid-template-columns: 30% 70%;
    }

    .mission__card-number {
        font-size: 160px;
    }

    .mission__card-text {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
    }

    /* PROJECTS */

    .projects__title {
        font-size: 4em;
        line-height: 64px;
    }

    .projects__images {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        gap: 5%;
    }

    .projects__imgs-line1,
    .projects__imgs-line2 {
        display: flex;
        justify-content: space-between;
    }

    .projects__btn {
        width: 19%;
        min-height: 50%;
        font-size: 0.5em;
        color: #FFFFFF;
        background-color: #2C2C2C;
        cursor: pointer;
    }

    .projects__section-btn {
        display: flex;
        align-items: flex-end;
        flex-direction: row-reverse;
    }

    .line-one__cover {
        position: absolute;
        box-sizing: border-box;
        opacity: 0.8;
        width: 40%;
        padding-right: 4px;
    }

    .projects__project4 {
        width: 40%;
    }

    .projects__overlay {
        position: absolute;
        width: 40%;
        height: 20%;
    }

    .projects__project-name {
        padding-top: 7%;
        padding-bottom: 2%;
        padding-left: 10%;

        font-size: 4em;
    }

    .projects__project-link {
        font-size: 1em;
        padding-top: 7%;
        padding-bottom: 2%;
        padding-left: 10%;
    }

    /*CONTACT*/
    .contact {
        display: grid;
        grid-template-columns: 9.4vw [main-content-start] 1fr [main-content-end] 9.4vw;
    }

    .contact__title {
        grid-column-start: main-content-start;
    }

    .contact__content {
        grid-column-start: main-content-start;
    }

    .contact__content {
        display: grid;
        grid-template-columns: 35% 1fr;
        grid-template-rows: 1fr 120px;
        margin-bottom: 120px;
    }

    #contact__form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .contact__input {
        width: 95%;
        height: 12%;
    }

    .contact__textarea {
        width: 95%;
        height: 38%;
    }

    .contact__images {
        display: flex;
        align-items: flex-end;
    }

    .contact__background {
        width: 100%;
    }

    .contact__btn-container {
        display: flex;
        align-items: flex-end;
    }

    .contact__button {
        min-width: 50%;
        min-height: 50%;
    }

    /* FOOTER */
    .footer {
        display: grid;
        grid-template-rows: 300px 70px;
        grid-template-columns: [footer-start] 25% [footer-content-start] 1fr [footer-end];
        align-content: start;
        padding-top: 58px;
    }

    .footer__logo {
        background-image: url(../images/footer-logo.svg);
        background-repeat: no-repeat;
        background-position: center top;
        min-width: 165px;
    }

    .footer__content {
        display: grid;
        grid-template-rows: 45px [footer-address-start footer-social-start] 40px 40px [footer-address-end footer-phone-start] 40px 40px [footer-phone-end] 40px [footer-social-end];
        grid-template-columns: 24% [footer-contact-start] 1fr [footer-contact-end footer-social-start] 1fr [footer-social-end];
    }

    .footer__address {
        grid-area: footer-address-start / footer-contact-start / footer-address-end / footer-contact-end;
        display: flex;
    }

    .footer__phone {
        grid-area: footer-phone-start / footer-contact-start / footer-phone-end / footer-contact-end;
        display: flex;
        align-items: center;
    }

    .footer__social {
        grid-area: footer-social-start / footer-social-start / footer-social-end / footer-social-end;
    }

    .footer__social-link {
        margin-right: 40px;
    }

    .footer__copyright {
        grid-column-start: footer-start;
        grid-column-end: footer-end;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* TABLET - ПЛАНШЕТ */
@media screen and (min-width: 420px) and (max-width: 939px) {

    /* HEADER */

    .header {
        display: grid;
        grid-template-columns: 9.4vw [header-menu-start] 1fr 9.4vw;
        align-items: center;
        min-height: 102px;
    }

    .header__menu {
        display: none;
    }

    .header__menu--narrow {
        grid-column-start: header-menu-start;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        background-image: url(../images/header-logo.svg);
        background-repeat: no-repeat;
        background-position: left center;
    }

    .header__title {
        margin-right: 30px;
    }

    .header__menu-btn {
        width: 44px;
        height: 44px;
    }

    .header__hidden-menu {
        visibility: hidden;
        position: fixed;
        top: -1000px;
        right: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: #F2F2F2;
        transition: 1s;
    }

    .header__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        transition: opacity .35s, visibility .35s, height .35s;
        overflow: hidden;
        background: #c8c8c8;
        z-index: -1;
    }

    .header__links-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 50vh;
    }

    .header__hidden-link {
        list-style-type: none;
    }

    .header__click:checked+.header__menu-btn .header__hidden-menu {
        visibility: visible;
        top: 102px;
    }

    .header__click:checked~.header__overlay {
        visibility: visible;
        opacity: 0.6;
    }

    /*INTRO*/

    .intro {
        display: grid;
        grid-template-columns: 9.4vw [intro-content-start] 1fr [intro-content-end] 9.4vw;
        margin-bottom: 3em;
    }

    .intro__content,
    .intro__image {
        grid-column-start: intro-content-start;
    }

    .intro__projectlorum {
        text-align: center;
    }

    .intro__buttons {
        display: flex;
        justify-content: center;
        margin-bottom: 1em;
    }

    .intro-button1 {
        display: inline-block;
        width: 52.95px;
        height: 53px;
        cursor: pointer;
        background-color: #FFFFFF;
        border: 1px solid #F2F2F2;
    }

    .intro-button1:active {
        background-color: #C4C4C4;
    }

    .intro-button2 {
        display: inline-block;
        width: 52.95px;
        height: 53px;
        cursor: pointer;
        margin-left: 20px;
        background-color: #f9f9f9;
        border: 1px solid #F2F2F2;
    }

    .intro-button2:active {
        background-color: #C4C4C4;
    }

    .intro__slidenumbers {
        display: none;
    }

    .intro__image {
        display: grid;
    }

    .intro-img1 {
        width: 100%;
    }

    .intro-button3 {
        position: absolute;
        top: 102%;
        width: 180px;
        height: 60px;
        cursor: pointer;
        font-size: small;
        letter-spacing: 3px;
        text-align: center;
        color: #333333;
        background-color: #FFFFFF;
        border: none;
    }

    .intro-button3:hover {
        background-color: #F2F2F2;
    }

    .intro-text {
        font-weight: bold;
        color: #333333;
    }

    /*ABOUT*/
    .about {
        display: grid;
        grid-template-columns: 9.4vw [main-content-start] 1fr [main-content-end] 9.4vw;
    }

    .about__content {
        grid-column-start: main-content-start;
        display: grid;
        grid-template-rows: 1fr;
        gap: 1.5vw;
    }

    .about__images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "about__images-group1 about__images-group2";
        gap: 2vw;
        align-items: center;
    }

    .about__images-group1 {
        grid-area: about__images-group1;
        display: grid;
        grid-template-rows: max-content;
        gap: 2vw;
        justify-content: flex-end;
    }

    .about__images-group2 {
        grid-area: about__images-group2;
        display: flex;
        justify-content: flex-start;

    }

    .about___img1 {
        width: 30vw;
        height: 28vw;
    }

    .about__img3 {
        width: 30vw;
    }

    .about__img2 {
        width: 30vw;
        height: 35vw;
    }

    .about__card {
        width: 100%;
        margin-right: 0;
        text-align: center;
    }

    .about__link-btn {
        padding: 15px 3vw;
    }

    /* MISSION */

    .mission {
        display: grid;
        grid-template-columns: 9.4vw [main-content-start] 1fr [main-content-end] 9.4vw;
    }

    /* Отступы, чтобы весь контент mission выравнивался в соответствии с основными боковыми отступами сайта (Настя) */
    .mission__title,
    .mission__cards {
        grid-column-start: main-content-start;
    }

    .mission__title {
        display: block;

        font-size: 4em;
        line-height: 64px;
    }

    .mission__cards {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }

    .mission__card {
        display: grid;
        grid-template-columns: 30% 70%;
    }

    .mission__card-number {
        font-size: 160px;
    }

    .mission__card-text {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
    }

    /* PROJECTS */

    .projects__title {
        font-size: 4em;
        line-height: 64px;
    }

    .projects__images {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        gap: 5%;
    }

    .projects__imgs-line1,
    .projects__imgs-line2 {
        display: flex;
        justify-content: space-between;
    }

    .line-one__cover {
        position: absolute;
        box-sizing: border-box;
        opacity: 0.8;
        width: 40%;
        min-height: 11%;
    }


    .projects__project4 {
        width: 40%;
    }

    .projects__btn {
        min-width: 25%;
        min-height: 57%;
        background-color: #2C2C2C;
        color: #FFFFFF;
        cursor: pointer;
    }

    .projects__section-btn {
        display: flex;
        align-items: flex-end;
        flex-direction: row-reverse;
    }

    /*CONTACT*/
    .contact__images {
        display: none;
    }

    .contact {
        display: grid;
        grid-template-columns: 9.4vw [main-content-start] 1fr [main-content-end] 9.4vw;
    }

    .contact__title {
        grid-column-start: main-content-start;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .contact__content {
        grid-column-start: main-content-start;
    }

    .contact__content {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 100px;
        margin-bottom: 60px;
    }

    #contact__form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .contact__input {
        width: 70%;
        height: 7vh;
    }

    .contact__textarea {
        width: 70%;
        height: 20vh;
    }

    .contact__btn-container {
        display: flex;
        align-items: flex-end;
        width: 100%;
        justify-content: center;
    }

    .contact__button {
        min-width: 25%;
        min-height: 50%;
    }

    /* FOOTER */
    .footer {
        display: grid;
        grid-template-rows: 150px 1fr 70px;
        align-content: start;
        padding-top: 58px;
    }

    .footer__logo {
        background-image: url(../images/footer-logo.svg);
        background-repeat: no-repeat;
        background-position: center top;
        min-width: 165px;
    }

    .footer__content {
        display: grid;
        grid-template-rows: 45px [footer-address-start] 40px 40px [footer-address-end footer-phone-start] 40px 40px [footer-phone-end] 70px [footer-btm-title-start] 45px [footer-btm-title-end footer-social-start] 68px [footer-social-end];
        grid-template-columns: [footer-social-start] minmax(max-content, 60%) [footer-contact-start] minmax(max-content, 1fr) [footer-contact-end footer-social-end];
        padding-left: 15vw;
        padding-right: 9.4vw;
    }

    .footer__address {
        grid-area: footer-address-start / footer-contact-start / footer-address-end / footer-contact-end;
        display: flex;
    }

    .footer__phone {
        grid-area: footer-phone-start / footer-contact-start / footer-phone-end / footer-contact-end;
        display: flex;
        align-items: center;
    }

    .footer__title--lower {
        grid-area: footer-btm-title-start / footer-social-start / footer-btm-title-end / footer-social-end;
        justify-self: center;
    }

    .footer__social {
        grid-column-start: footer-social-start;
        grid-column-end: footer-social-end;
        display: flex;
        justify-self: center;
        justify-content: space-between;
        width: 186px;
    }

    .footer__copyright {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



/* SMARTPHONE - СМАРТФОН */
@media screen and (max-width: 419px) {

    /* HEADER */

    .header {
        display: grid;
        grid-template-columns: 9.4vw [header-logo-start header-menu-start] 1fr 9.4vw;
        align-items: center;
        min-height: 102px;
    }

    .header__menu {
        display: none;
    }

    .header__menu--narrow {
        grid-column-start: header-menu-start;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        background-image: url(../images/header-logo.svg);
        background-repeat: no-repeat;
        background-position: left center;
    }

    .header__title {
        margin-right: 30px;
    }

    .header__menu-btn {
        width: 44px;
        height: 44px;
    }

    .header__hidden-menu {
        visibility: hidden;
        position: fixed;
        top: -1000px;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: #F2F2F2;
        transition: 0.9s;
    }

    .header__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        transition: opacity .35s, visibility .35s, height .35s;
        overflow: hidden;
        background: #c8c8c8;
        z-index: -1;
    }

    .header__links-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 50vh;
    }

    .header__hidden-link {
        list-style-type: none;
    }

    .header__click:checked+.header__menu-btn .header__hidden-menu {
        visibility: visible;
        top: 102px;
    }

    .header__click:checked~.header__overlay {
        visibility: visible;
        opacity: 0.6;
    }

    /*INTRO*/

    .intro {
        display: grid;
        grid-template-columns: 9.4vw [intro-content-start] 1fr [intro-content-end] 9.4vw;
        margin-bottom: 10vh;
    }

    .intro__content,
    .intro__image {
        grid-column-start: intro-content-start;
    }

    .intro__projectlorum {
        text-align: center;
    }

    .intro__buttons {
        display: flex;
        justify-content: center;
        margin-bottom: 3vh;
    }

    .intro-button1 {
        display: inline-block;
        width: 52.95px;
        height: 53px;
        cursor: pointer;
        background-color: #FFFFFF;
        border: 1px solid #F2F2F2;
    }

    .intro-button1:active {
        background-color: #C4C4C4;
    }

    .intro-button2 {
        display: inline-block;
        width: 52.95px;
        height: 53px;
        cursor: pointer;
        margin-left: 20px;
        background-color: #f9f9f9;
        border: 1px solid #F2F2F2;
    }

    .intro-button2:active {
        background-color: #C4C4C4;
    }

    .intro__slidenumbers {
        display: none;
    }

    .intro__image {
        display: grid;
    }

    .intro-img1 {
        width: 100%;
    }

    .intro-button3 {
        position: absolute;
        top: 135%;
        width: 180px;
        height: 60px;
        cursor: pointer;
        font-size: small;
        letter-spacing: 3px;
        text-align: center;
        color: #333333;
        background-color: #FFFFFF;
        border: none;
    }

    .intro-button3:hover {
        background-color: #F2F2F2;
    }

    .intro-text {
        font-weight: bold;
        color: #333333;
    }

    /*ABOUT*/
    .about {
        display: grid;
        grid-template-columns: 9.4vw [main-content-start] 1fr [main-content-end] 9.4vw;
    }

    .about__content {
        grid-column-start: main-content-start;
        display: grid;
        grid-template-rows: 1fr;
        gap: 1.5vw;
    }

    .about__images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "about__images-group1 about__images-group2";
        gap: 2vw;
    }

    .about__images-group1 {
        grid-area: about__images-group1;
        display: grid;
        grid-template-rows: max-content;
        gap: 2vw;
        align-items: center;
        justify-content: center;
    }

    .about__images-group2 {
        grid-area: about__images-group2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about___img1 {
        width: 35vw;
        height: 33vw;
    }

    .about__img3 {
        width: 35vw;
    }

    .about__img2 {
        width: 35vw;
        height: 40vw;
    }

    .about__card {
        width: 100%;
        margin-right: 0;
        text-align: center;
    }

    .about__link-btn {
        padding: 15px 3vw;
    }

    /* MISSION */

    .mission {
        display: grid;
        grid-template-columns: 9.4vw [main-content-start] 1fr [main-content-end] 9.4vw;
    }

    /* Отступы, чтобы весь контент mission выравнивался в соответствии с основными боковыми отступами сайта (Настя) */
    .mission__title,
    .mission__cards {
        grid-column-start: main-content-start;
    }

    .mission__title {
        font-size: 2em;
    }

    .mission__cards {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }

    .mission__card-number {
        display: none;
    }

    .mission__card-text {
        font-size: 1em;
        font-weight: 400;
        line-height: 1.5em;
    }

    /* PROJECTS */

    .projects__title {
        font-size: 2em;
    }

    .projects__images {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5%;
    }

    .projects__imgs-line1,
    .projects__imgs-line2 {
        display: flex;
        justify-content: center;
    }

    .projects__project2,
    .projects__project3,
    .projects__project5 {
        display: none;
    }

    .projects__project4 {
        width: 49%;
    }

    .projects__section-btn {
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .projects__btn {
        max-width: 50vw;
        min-height: 70%;
        background-color: #2C2C2C;
        color: #FFFFFF;
        cursor: pointer;
    }

    /*CONTACT*/
    .contact__images {
        display: none;
    }

    .contact {
        display: grid;
        grid-template-columns: 9.4vw [main-content-start] 1fr [main-content-end] 9.4vw;
    }

    .contact__title {
        grid-column-start: main-content-start;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .contact__content {
        grid-column-start: main-content-start;
    }

    .contact__content {
        display: grid;
        grid-template-rows: 1fr 80px;
        margin-bottom: 50px;
    }

    #contact__form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .contact__input {
        width: 100%;
        height: 8vh;
    }

    .contact__textarea {
        width: 100%;
        height: 20vh;
    }

    .contact__btn-container {
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .contact__button {
        min-width: 50%;
        min-height: 50%;
    }

    /* FOOTER */
    .footer {
        display: grid;
        grid-template-rows: 150px 1fr 70px;
        align-content: start;
        padding-top: 58px;
    }

    .footer__logo {
        background-image: url(../images/footer-logo.svg);
        background-repeat: no-repeat;
        background-position: center top;
        min-width: 165px;
    }

    .footer__content {
        display: grid;
        grid-template-rows: 45px 40px 40px 70px [footer-mid-title-start] 45px [footer-address-start] 65px [footer-phone-start] 40px [footer-email-start] 70px [footer-btm-title-start] 45px [footer-social-start] 68px;
        grid-template-columns: [footer-start] 50% [footer-mid] 50% [footer-end];
        justify-content: center;
        padding-left: 9.4vw;
        padding-right: 9.4vw;
    }

    .footer__title,
    .footer__address,
    .footer__phone,
    .footer__email,
    .footer__social,
    .footer__link--mid {
        grid-column-start: footer-start;
        grid-column-end: footer-end;
    }

    .footer__title,
    .footer__link--mid {
        justify-self: center;
    }

    .footer__link--top {
        margin-left: 12vw;
    }

    .footer__title--mid {
        grid-row-start: footer-mid-title-start;
    }

    .footer__address {
        grid-row-start: footer-address-start;
        display: flex;
    }

    .footer__phone {
        grid-row-start: footer-phone-start;
        display: flex;
        align-items: flex-start;
    }

    .footer__email {
        grid-row-start: footer-email-start;
    }

    .footer__title--lower {
        grid-row-start: footer-btm-title-start;
    }

    .footer__address,
    .footer__phone,
    .footer__email {
        margin-left: 18vw;
    }

    .footer__social {
        grid-row-start: footer-social-start;
        justify-self: center;
        display: flex;
        justify-content: space-between;
        width: 186px;
    }

    .footer__copyright {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* HEADER */

.header__click {
    display: none;
}

.header__link,
.header__title {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #333333;
}

.header__link:hover,
.header__link:active {
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
}

/*ABOUT*/

.about__title {
    font-size: 4em;
    line-height: 64px;
    margin: 0;
    margin-bottom: 20px;
}

.about__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1em;
    line-height: 25px;
}

.button-btn {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    border: none;
}

.about__link {
    margin-top: 40px;
}

.about__link-btn {
    background-color: #F2F2F2;
    color: black;
    margin-top: 50px;
}

/* MISSION */

.title-text {
    font-weight: 300;
    color: #BDBDBD;
}

.title-text:hover {
    cursor: pointer;
}

.mission__card-value,
.mission__text-container {
    align-self: center;
}

.mission__card-value p {
    margin: 0;
}

.mission__card-number {
    color: #F2F2F2;
    font-weight: 900;
}

/* PROJECTS */

.projects {
    display: grid;
    grid-template-columns: 9.4vw [main-content-start] 1fr [main-content-end] 9.4vw;
}

.projects__title,
.projects__container {
    grid-column-start: main-content-start;
}

.projects__container {
    display: grid;
    grid-template-rows: 80% 20%;
    gap: 2vw;

    margin-bottom: 10%;
}

.projects__project1 {
    width: 49%;
    position: relative;
}

.line-one__cover {
    position: absolute;
    box-sizing: border-box;
    opacity: 0.8;
    width: 40%;
}

.projects__project-name {
    color: #fff;
    font-weight: 700;
}

.projects__project-link {
    font-weight: 300;
    letter-spacing: 3px;
    color: #fff;
}

.projects__project2 {
    width: 48%;
}

.projects__project3 {
    width: 25%;
}

.projects__project5 {
    width: 30%;
}

.projects__btn:hover,
.projects__project1:hover,
.line-one__cover:hover,
.projects__project2:hover,
.projects__project3:hover,
.projects__project4:hover,
.projects__project5:hover {
    cursor: pointer;
}

/*CONTACT*/
::-webkit-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.04em;
    padding-left: 21px;
    padding-top: 10px;
    color: #8D8D8D;
}

.contact__title {
    font-size: 4em;
    line-height: 64px;
}

.contact__input {
    background: #F3F3F3;
    border: none;
}

.contact__input:focus,
.contact__textarea:focus {
    outline: none;
}

.contact__textarea {
    background: #F3F3F3;
    border: none;
}

.contact__button {
    background-color: #2C2C2C;
    color: #FFFFFF;
    cursor: pointer;
}


/* FOOTER */
.footer {
    color: #FFFFFF;
    background-color: #2C2C2C;
}

.footer__address-icon {
    margin-right: 19px;
}

.footer__phone-icon,
.footer__email-icon {
    margin-right: 14px;
}

.footer__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.footer__link,
.footer__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer__copyright {
    text-align: center;
    font-size: 12px;
    line-height: 22px;
    color: #FFFFFF;
    border-top: 1px solid #FFFFFF;
    opacity: 0.1;
}

.footer__link:hover {
    text-decoration: underline;
}

/* GENERAL */
a {
    text-decoration: none;
}

p {
    margin: 0;
}