body {
    /* display: grid;
    grid-template: minmax(102px, max-content) 1fr minmax(417px, max-content) / 100%; */
    /* Сделала большой грид страницы для хедера, мейн и футера. Хедер и футер так должны в высоту растягиваться по содержимому, что не нужно этот грид в медиазапросах менять, возможно только отступы регулировать.
    Если есть предложения, как сделать лучше - пишите! (Юля) */
    font-family: 'Roboto', 'Source Sans Pro', sans-serif;

    max-width: 100%;
    /* Обозначила ширину, так как был скролл по оси у (Настя) */
}


/* DESKTOP - МОНИТОР КОМПЬЮТЕРА */
@media screen and (min-width: 940px) {

    /* HEADER */

    .header {
        display: grid;
        grid-template-columns: 9.4vw [header-logo-start] minmax(300px, 28%) [header-menu-start] 1fr;
        align-items: center;
        min-height: 102px;
    }

    .header__logo {
        grid-column-start: header-logo-start;
        height: 100%;
        background-image: url(../images/header-logo.svg);
        background-repeat: no-repeat;
        background-position: left center;
    }

    .header__menu {
        grid-column-start: header-menu-start;
        display: flex;
        justify-content: space-between;
        max-width: 645px;
        min-width: max-content;
    }

    /* MAIN */

    .main {
        display: grid;
        grid-template-columns: 9.4vw [main-content-start] 1fr [main-content-end] 9.4vw;
        /* так секции встанут с одинаковыми отступами с двух сторон и все будут выстраиваться по одной линии, когда меняем ширину экрана. Надо только каждой секции задать grid-column-start: main-content-start; (Юля) */
        grid-template-rows: repeat(5, max-content);
        row-gap: 120px;
    }

    /*ABOUT*/
    .about {
        display: grid;
        grid-template-columns: 9.4vw [main-content-start] 1fr [main-content-end] 9.4vw;
    }

    .about__content {
        grid-column-start: main-content-start;
        display: grid;
        grid-template-columns: 55% 1fr;
        gap: 3vw;
    }

    .about__images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "about__images-group1 about__images-group2";
        gap: 3vw;
        align-items: center;
    }

    .about__images-group1 {
        grid-area: about__images-group1;
        display: grid;
        grid-template-rows: auto;
        gap: 3vw;
    }

    .about__images-group2 {
        grid-area: about__images-group2;
        display: flex;
    }

    .about__card {
        width: 90%;
    }

    .about__images-group1_img1 {
        width: 20vw;
        height: 18vw;
    }

    .about__images-group1_img3 {
        width: 20vw;
        height: 10vw;
    }

    .about__images-group1_img2 {
        width: 20vw;
        height: 25vw;
    }

    .about__link-btn {
        padding: 1.3vw 3vw;
    }


    /* MISSION */

    .mission {
        display: grid;
        grid-template-columns: 9.4vw [main-content-start] 1fr [main-content-end] 9.4vw;
    }

    /* Отступы, чтобы весь контент mission выравнивался в соответствии с основными боковыми отступами сайта (Настя) */
    .mission-title,
    .mission-cards {
        grid-column-start: main-content-start;
    }

    .mission-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10%;
    }

    .title-text {
        font-size: 56px;
    }

    .mission-cards__card {
        display: grid;
        grid-template-columns: 30% 70%;
    }

    .card-value__number {
        font-size: 160px;
    }

    .card-text {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
    }

    /* PROJECTS */

    .projects {
        display: grid;
        grid-template-columns: 9.4vw [main-content-start] 1fr [main-content-end] 9.4vw;
    }

    .projects-title,
    .projects-container {
        grid-column-start: main-content-start;
    }

    .projects-container {
        display: grid;
        grid-template-rows: 80% 20%;
        gap: 2vw;
    }

    .projects-images {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
        grid-template-areas: "one two"
            "three four five";

    }

    .projects-images__image-one {
        grid-area: one;
    }

    .projects-images__image-two {
        grid-area: two;
    }

    .projects-images__image-three {
        grid-area: three;
    }

    .projects-images__image-four {
        grid-area: four;
    }

    .projects-images__image-five {
        grid-area: five;
    }

    .projects-section__btn {
        display: flex;
        align-items: flex-end;
        flex-direction: row-reverse;
    }

    .projects-button {
        width: 18%;
        min-height: 50%;
        background-color: #2C2C2C;
        color: #FFFFFF;
        cursor: pointer;
    }

    /*CONTACT*/
    .contact {
        display: grid;
        grid-template-columns: 9.4vw [main-content-start] 1fr [main-content-end] 9.4vw;
    }

    .contact__title {
        grid-column-start: main-content-start;
    }

    .contact__content {
        grid-column-start: main-content-start;
    }

    .contact__content {
        display: grid;
        grid-template-columns: 35% 1fr;
        grid-template-rows: 1fr 120px;
        margin-bottom: 120px;
    }

    #contact__form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .contact__input {
        width: 95%;
        height: 12%;
    }

    .contact__textarea {
        width: 95%;
        height: 38%;
    }

    .contact__images {
        display: flex;
        align-items: flex-end;
    }

    .contact__background {
        width: 100%;
    }

    .contact__button {
        display: flex;
        align-items: flex-end;
    }

    .contact-button {
        min-width: 50%;
        min-height: 50%;
    }

    /* FOOTER */
    .footer {
        display: grid;
        grid-template-rows: 300px 70px;
        grid-template-columns: [footer-start] 25% [footer-content-start] 1fr [footer-end];
        align-content: start;
        padding-top: 58px;
    }

    .footer__logo {
        background-image: url(../images/footer-logo.svg);
        background-repeat: no-repeat;
        background-position: center top;
    }

    .footer-content {
        display: grid;
        grid-template-rows: 45px [footer-address-start footer-social-start] 40px 40px [footer-address-end footer-phone-start] 40px 40px [footer-phone-end] 40px [footer-social-end];
        grid-template-columns: 24% [footer-contact-start] 1fr [footer-contact-end footer-social-start] 1fr [footer-social-end];
    }

    .footer__address {
        grid-area: footer-address-start / footer-contact-start / footer-address-end / footer-contact-end;
        display: flex;
    }

    .footer__phone {
        grid-area: footer-phone-start / footer-contact-start / footer-phone-end / footer-contact-end;
        display: flex;
        align-items: center;
    }

    .footer__social {
        grid-area: footer-social-start / footer-social-start / footer-social-end / footer-social-end;
    }

    .footer__social-link {
        margin-right: 40px;
    }

    .footer__copyright {
        grid-column-start: footer-start;
        grid-column-end: footer-end;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* TABLET - ПЛАНШЕТ */
@media screen and (min-width: 420px) and (max-width: 939px) {

    /*ABOUT*/
    .about {
        display: grid;
        grid-template-columns: 9.4vw [main-content-start] 1fr [main-content-end] 9.4vw;
    }

    .about__content {
        grid-column-start: main-content-start;
        display: grid;
        grid-template-rows: 1fr;
        gap: 1.5vw;
    }

    .about__images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "about__images-group1 about__images-group2";
        gap: 2vw;
        align-items: center;
    }

    .about__images-group1 {
        grid-area: about__images-group1;
        display: grid;
        grid-template-rows: max-content;
        gap: 2vw;
        justify-content: flex-end;
    }

    .about__images-group2 {
        grid-area: about__images-group2;
        display: flex;
        justify-content: flex-start;

    }

    .about__images-group1_img1 {
        width: 30vw;
        height: 28vw;
    }

    .about__images-group1_img3 {
        width: 30vw;
    }

    .about__images-group1_img2 {
        width: 30vw;
        height: 35vw;
    }

    .about__card {
        width: 100%;
        margin-right: 0;
        text-align: center;
    }

    .about__link-btn {
        padding: 15px 3vw;
    }

    /* MISSION */

    .mission {
        display: grid;
        grid-template-columns: 9.4vw [main-content-start] 1fr [main-content-end] 9.4vw;
    }

    /* Отступы, чтобы весь контент mission выравнивался в соответствии с основными боковыми отступами сайта (Настя) */
    .mission-title,
    .mission-cards {
        grid-column-start: main-content-start;
    }

    .mission-cards {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }

    .title-text {
        font-size: 56px;
    }

    .mission-cards__card {
        display: grid;
        grid-template-columns: 30% 70%;
    }

    .card-value__number {
        font-size: 160px;
    }

    .card-text {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
    }


    /*CONTACT*/
    .contact__images {
        display: none;
    }

    .contact {
        display: grid;
        grid-template-columns: 9.4vw [main-content-start] 1fr [main-content-end] 9.4vw;
    }

    .contact__title {
        grid-column-start: main-content-start;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .contact__content {
        grid-column-start: main-content-start;
    }

    .contact__content {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 100px;
        margin-bottom: 60px;
    }

    #contact__form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .contact__input {
        width: 70%;
        height: 7vh;
    }

    .contact__textarea {
        width: 70%;
        height: 20vh;
    }

    .contact__button {
        display: flex;
        align-items: flex-end;
        width: 100%;
        justify-content: center;
    }

    .contact-button {
        min-width: 25%;
        min-height: 50%;
    }
}



/* SMARTPHONE - СМАРТФОН */
@media screen and (max-width: 419px) {

    /*ABOUT*/
    .about {
        display: grid;
        grid-template-columns: 9.4vw [main-content-start] 1fr [main-content-end] 9.4vw;
    }

    .about__content {
        grid-column-start: main-content-start;
        display: grid;
        grid-template-rows: 1fr;
        gap: 1.5vw;
    }

    .about__images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "about__images-group1 about__images-group2";
        gap: 2vw;
    }

    .about__images-group1 {
        grid-area: about__images-group1;
        display: grid;
        grid-template-rows: max-content;
        gap: 2vw;
        align-items: center;
        justify-content: center;
    }

    .about__images-group2 {
        grid-area: about__images-group2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about__images-group1_img1 {
        width: 35vw;
        height: 33vw;
    }

    .about__images-group1_img3 {
        width: 35vw;
    }

    .about__images-group1_img2 {
        width: 35vw;
        height: 40vw;
    }

    .about__card {
        width: 100%;
        margin-right: 0;
        text-align: center;
    }

    .about__link-btn {
        padding: 15px 3vw;
    }

    /* MISSION */

    .mission {
        display: grid;
        grid-template-columns: 9.4vw [main-content-start] 1fr [main-content-end] 9.4vw;
    }

    /* Отступы, чтобы весь контент mission выравнивался в соответствии с основными боковыми отступами сайта (Настя) */
    .mission-title,
    .mission-cards {
        grid-column-start: main-content-start;
    }

    .mission-cards {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }

    .title-text {
        font-size: 3em;
    }

    .card-value__number {
        display: none;
    }

    .card-text {
        font-size: 1em;
        font-weight: 400;
        line-height: 1.5em;
    }

    /*CONTACT*/
    .contact__images {
        display: none;
    }

    .contact {
        display: grid;
        grid-template-columns: 9.4vw [main-content-start] 1fr [main-content-end] 9.4vw;
    }

    .contact__title {
        grid-column-start: main-content-start;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .contact__content {
        grid-column-start: main-content-start;
    }

    .contact__content {
        display: grid;
        grid-template-rows: 1fr 80px;
        margin-bottom: 50px;
    }

    #contact__form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .contact__input {
        width: 100%;
        height: 8vh;
    }

    .contact__textarea {
        width: 100%;
        height: 20vh;
    }

    .contact__button {
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .contact-button {
        min-width: 50%;
        min-height: 50%;
    }

}

/* HEADER */
.header__link {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #333333;
    border: 1px solid #FFFFFF;
    /* Добавила здесь border чтобы ссылки не прыгали при наведении курсора. Потому что при наведении появляется оформление border снизу и сверху (Юля) */
}

.header__link:hover,
.header__link:active {
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
}

/*ABOUT*/

.about__title {
    font-size: 4em;
    line-height: 64px;
    margin: 0;
    margin-bottom: 20px;
}

.about__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1em;
    line-height: 25px;
}

.button-btn {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    border: none;
}

.about__link {
    margin-top: 40px;
}

.about__link-btn {
    background-color: #F2F2F2;
    color: black;
    margin-top: 50px;
}

/* MISSION */

.title-text {
    font-weight: 300;
    color: #BDBDBD;
}

.title-text:hover {
    cursor: pointer;
}

.card-value,
.card-text__container {
    align-self: center;
}

.card-value p {
    margin: 0;
}

.card-value__number {
    color: #F2F2F2;
    font-weight: 900;
}

/* PROJECTS */

.projects-button {}

/*CONTACT*/
::-webkit-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.04em;
    padding-left: 21px;
    padding-top: 10px;
    color: #8D8D8D;
}

.contact__title {
    font-size: 4em;
    line-height: 64px;
}

.contact__input {
    background: #F3F3F3;
    border: none;
}

.contact__textarea {
    background: #F3F3F3;
    border: none;
}

.contact-button {
    background-color: #2C2C2C;
    color: #FFFFFF;
    cursor: pointer;
}

/* FOOTER */
.footer {
    color: #FFFFFF;
    background-color: #2C2C2C;
}

.footer__address-icon {
    margin-right: 19px;
}

.footer__phone-icon,
.footer__email-icon {
    margin-right: 14px;
}

.footer__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.footer__link,
.footer__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer__copyright {
    text-align: center;
    font-size: 12px;
    line-height: 22px;
    color: #FFFFFF;
    border-top: 1px solid #FFFFFF;
    opacity: 0.1;
}

.footer__link:hover {
    text-decoration: underline;
}

/* GENERAL */
a {
    text-decoration: none;
}

p {
    margin: 0;
}